body{
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(213, 242, 242);
}

.header{
    top: 5px;
    left: 5px;
    right: 5px;
    height: 100px;
    z-index: 2;
    border-bottom: solid 1px #020202;
    color: black;
}

.linkbox{
  border: 1px solid rgb(2, 2, 2);
  font-style: normal;
  font-size: larger;
  color: brown;
  text-align: center;
}

.title{
    text-align: center;
    font-size: xx-large;
    font-weight: 700;
    color: rgb(195, 32, 184);
}


.headingtext {
    font-size: larger;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.topname {
    text-align: center;
    font-size: x-large;
    font-weight: 600;
}

.center{
    text-align: center;
    font-style: normal;
  font-size: larger;
  color: brown;
}